@import "../style/style.scss";
@import "../style/colors.scss";

.page-container {
  width: 100dvw;
  @include colorAndWeight();

  @include flex(column, center, center, 2rem);

  .admin-back {
    width: 90dvw;
    max-width: 85ch;
    padding-block: 1rem;

    @include flex(column, flex-start, flex-start, 2rem);

    @include mq() {
      @include flex(column, flex-start, flex-start, 2rem);
    }

    .info-item {
      @include flex(column, space-between, flex-start, $spacingDouble);
      width: 100%;
      padding-block: 1rem;
    }
  }

  section {
    width: 100%;

    .button-container {
      @include flex(row, flex-start, flex-start, $spacing);
    }
  }

  ul > li {
    @include flex(column, flex-start, flex-start, $spacing);
    padding: 0.5rem;
    width: 100%;
    height: fit-content;
    border-radius: 0.5rem;
  }

  .info-item > li {
    @include flex(column, center, flex-start, $spacing);
    padding: 1rem;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.422);
    width: 100%;
    height: fit-content;
    border-radius: 0.5rem;

    div {
      width: 100%;
    }

    .charging-station-card {
      @include flex(column, center, flex-start, $spacing);

      @include mq() {
        @include flex(row, center, flex-start, $spacing);

        button {
          max-width: 10rem;
        }
      }

      .charging-station-text-container {
        @include flex(column, center, flex-start, $spacing);
      }
    }
  }
}
