$colors: (
  white: (
    500: #ffffff,
    600: #fcfcfc,
  ),
  black: (
    500: #000000,
  ),
  gray: (
    50: #f9fafb,
    100: #f3f4f6,
    200: #e5e7eb,
    300: #d1d5db,
    400: #9ca3af,
    500: #6b7280,
    600: #4b5563,
    700: #374151,
    800: #1f2937,
    900: #111827,
    950: #030712,
  ),
  lotus: (
    50: #fcf4f4,
    100: #f8e8e8,
    200: #f3d5d5,
    300: #eab7b7,
    400: #dc8d8d,
    500: #cc6767,
    600: #b74b4b,
    700: #993c3c,
    800: #893939,
    900: #6b3131,
    950: #391616,
  ),
  tomato: (
    50: #fff3f1,
    100: #ffe4df,
    200: #ffcec5,
    300: #ffac9d,
    400: #ff7c64,
    500: #ff6347,
    600: #ed3615,
    700: #c8290d,
    800: #a5260f,
    900: #882614,
    950: #4b0f04,
  ),
  pumpkin: (
    50: #fdf7ef,
    100: #fff7ec,
    200: #ffe1a5,
    300: #ffca6d,
    400: #ffa732,
    500: #ff8c0a,
    600: #ff7300,
    700: #cc5302,
    800: #a1400b,
    900: #82370c,
    950: #461904,
  ),
  dulce: (
    50: #fdf8ef,
    100: #fbefd9,
    200: #f7dbb1,
    300: #f1c280,
    400: #eba04c,
    500: #e68429,
    600: #d2691e,
    700: #b3521b,
    800: #8f421d,
    900: #73381b,
    950: #3e1b0c,
  ),
  corn: (
    50: #fdfde9,
    100: #fdfbc4,
    200: #fbf38d,
    300: #f9e54b,
    400: #f5d31a,
    500: #f1c40f,
    600: #c59009,
    700: #9d670b,
    800: #825211,
    900: #6f4314,
    950: #412307,
  ),
  olive: (
    50: #f4f6f3,
    100: #e5eae1,
    200: #cad6c4,
    300: #a5b89d,
    400: #6d8764,
    500: #5a7851,
    600: #435e3d,
    700: #354b31,
    800: #2c3d28,
    900: #24331d,
    950: #131c12,
  ),
  everglade: (
    50: #f1f8f2,
    100: #ddeedf,
    200: #bdddc2,
    300: #91c49d,
    400: #62a574,
    500: #418856,
    600: #2f6c42,
    700: #255736,
    800: #20462d,
    900: #1b3926,
    950: #0e2015,
  ),
  indigo: (
    50: #eef2ff,
    100: #e0e7ff,
    200: #c7d2fe,
    300: #a5b4fc,
    400: #818cf8,
    500: #6366f1,
    600: #4f46e5,
    700: #4338ca,
    800: #3730a3,
    900: #312e81,
    950: #1e1b4b,
  ),
);

:root {
  @each $name, $map in $colors {
    @each $key, $value in $map {
      --#{"#{$name}"}-#{"#{$key}"}: #{"#{$value}"};
    }
  }
}
