@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");

$green: #24331d;
$judson: "Judson";
$crem-white: #fff7ec;
$color-signup: #d5dfd6;
$kaki: #505a46;

.boxHome {
  background-color: $crem-white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px;
}

.textHome {
  font-family: $judson;
  font-size: 38px;
  text-align: center;
}

.buttonHome {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  color: white;
  font-size: 32px;
  border-radius: 80px;
  width: 17rem;
  height: 4.5rem;
  font-family: $judson;
}

.logoCSS {
  width: clamp(100px, 14rem, 200px);
}

.container {
  min-height: 100vh;
  background-color: $crem-white;
}
.boxConnect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 70px;
  .text-username {
    font-family: $judson;
    font-size: 20px;
  }
  .text-password {
    font-family: $judson;
    font-size: 20px;
  }
}

.buttonPage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  .buttonConnect {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    color: white;
    font-size: 20px;
    border-radius: 80px;
    width: 21rem;
    height: 3rem;
    font-family: $judson;
  }
  .buttonSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-signup;
    color: black;
    font-size: 20px;
    border-radius: 80px;
    width: 21rem;
    height: 3rem;
    font-family: $judson;
  }
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  #mdp {
    text-decoration: underline;
    font-family: $judson;
  }
  #username {
    border-radius: 30px;
    width: 20rem;
    height: 2rem;
    border: 2px solid #bcb8b8;
    padding-left: 10px;
  }
  #password {
    border-radius: 30px;
    width: 20rem;
    height: 2rem;
    border: 2px solid #bcb8b8;
    padding-left: 10px;
  }
  input:focus-within {
    outline-color: $green;
  }
}
.logo-menu {
  display: flex;
  justify-content: space-between;
  background-color: $crem-white;
  padding: 15px;
  font-size: 2.5rem;
  color: $kaki;
}

.full-input {
  background-color: $crem-white;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  #input-form {
    border-radius: 30px;
    width: 25rem;
    height: 2rem;
    border: 2px solid #bcb8b8;
    margin-bottom: 60px;
    padding: 10px;
  }
  .text-input {
    font-family: $judson;
    margin: 10px;
  }
  #sous-titre {
    padding: 5px;
    color: #403d3b;
  }
}
.title-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  #titre-form {
    font-family: $judson;
    font-size: 30px;
    margin-bottom: 60px;
  }
}
.buttonPage {
  width: calc(100vw - 5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  .buttonConnect-form {
    margin: 0 auto;
    background-color: $green;
    color: white;
    font-size: 20px;
    border-radius: 80px;
    width: 21rem;
    height: 3rem;
    font-family: $judson;
  }
}
