@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../style/style.scss";

.reservation-container {
  font-family: "roboto";
  @include colorAndWeight();
  h1 {
    text-align: center;
    width: 80%;
  }

  @include flex(column, center, center, $spacing);
  min-height: 80dvh;
  @include mq() {
  }
  @include flex(column, center, center, $spacingDouble);
  min-height: 75dvh;
  .reservation-buttons-container {
    @include flex(column, center, center, $spacingDouble);

    .button-md-olive-fullfilled {
      width: 35dvw;
      @include mq() {
        width: 20dvw;
      }
    }
  }

  .reservation-informations-container {
    @include flex(column, center, space-between, $spacingDouble);

    border: rgba(36, 51, 29, 0.1254901961) 2px solid;
    background-color: #fdf7ef;
    border-radius: $spacing;
    width: fit-content;
    padding: $spacingDouble;
    width: 85%;

    @include mq() {
      width: 40%;
    }
    .reservation-information-container {
      @include flex(row, space-between, center, $spacing);
    }
  }
}
