@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../style/style.scss";

.navbar {
  @include flex(row, space-between, center, 0);

  @include mq() {
    @include flex(row, space-between, center, 0);
    min-height: 100px;
  }
  padding-inline: $spacingDouble * 2;
  height: 10dvh;
  background-color: $green;
  box-shadow: 0 1px 6px 0 #000000;
  @include colorAndWeight();
  .logo-user-container {
    @include flex(row, space-between, center, $spacing);

    img {
      height: 8dvh;
      @include mq() {
        min-height: 90px;
      }
    }
  }

  .burger-button {
    @include flex(row, center, center, 0);
    width: 5rem;
    height: 5rem;
    background-color: $green;
  }

  .links-container {
    @include flex(column, center, center, 0);

    @include mq() {
      @include flex(row, center, center, $spacingDouble * 7);
      position: static;
      width: fit-content;
    }

    background-color: $green;
    position: absolute;
    z-index: 4;
    width: 100%;

    li {
      @include flex(row, center, center, 0);

      @include mq() {
        border-bottom: none;
      }

      height: 3rem;
      border-bottom: 1px solid $darkGreen;
      width: 100%;
      text-align: center;
      align-content: center;
      a {
        font-size: $fontSize3;
        font-family: "Robotto";
        font-weight: 100;
      }
    }
  }
}
