@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../style/style.scss";

.navbar {
  @include flex(row, space-between, center, 0);

  @include mq() {
    @include flex(row, space-between, center, 0);
  }

  height: 10dvh;
  background-color: $green;

  .button-burger {
    @include flex(row, center, center, 0);
    width: 5rem;
    height: 5rem;
    background-color: $green;
  }

  .logo-upya {
    width: 5rem;
    height: 5rem;
  }

  .links {
    @include flex(column, center, center, 0);

    @include mq() {
      @include flex(row, center, center, 5dvw);
      padding-left: 45%;
      position: initial;
    }

    background-color: $green;
    position: absolute;
    z-index: 4;
    width: 100dvw;

    li {
      @include flex(row, center, center, 0);

      @include mq() {
        border-bottom: none;
      }

      height: 3rem;
      border-bottom: 1px solid $darkGreen;
      width: 100%;
      text-align: center;
      align-content: center;
    }
  }
}
