@import "../style/style.scss";

.maplibregl-popup-content {
  border: rgba(36, 51, 29, 0.1254901961) 2px solid;
  background-color: #fdf7ef;
  border-radius: $spacing;
  width: fit-content;
  padding: $spacingDouble;
  @include colorAndWeight();
  div {
    @include flex(column, start, start, calc($spacing/2));
    @include mq() {
      @include flex(column, start, start, calc($spacing));
    }
    button {
      margin: 0;
      width: fit-content;
      align-self: center;
    }
    p {
      line-height: 1.1;
    }
  }

  li {
    font-style: italic;
  }

  button {
    margin: 0;
    width: 100%;
  }
}
